{% extends "dfwbase.html" %}
{% block content %}
{% load django_bootstrap5 %}
<h4 class="bd-title p-2 bg-secondary text-light">Image View</h4>
<table class="table table-striped table-sm">
    <tbody>
    <tr><th>파일이름</th><td>{{ image.filename|default_if_none:''}}</td></tr>
    <tr><th>촬영일시</th><td>{{ image.exifdatetime|default_if_none:''}}</td></tr>
    <tr>
        <td colspan="2"><div class="text-center">
            <canvas id="canvas" width="1024" height="600"></canvas>
        </div></td>
    </tr>
    </tbody>    
<tfoot><tr><td colspan="2"></td></tr></tfoot>
</table>
<script>
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    var widthCanvas;
    var heightCanvas;

        // View parameters
    var xleftView = 0;
    var ytopView = 0;
    var widthViewOriginal = 1.0;           //actual width and height of zoomed and panned display
    var heightViewOriginal = 1.0;
    var widthView = widthViewOriginal;           //actual width and height of zoomed and panned display
    var heightView = heightViewOriginal;

    var img = new Image();
    img.src= "{{image.imagefile.url}}";
    img.onload=function(){
        draw();
        widthCanvas = canvas.width;
        heightCanvas = canvas.height;

        //canvas.addEventListener("dblclick", handleDblClick, false);  // dblclick to zoom in at point, shift dblclick to zoom out.
        canvas.addEventListener("mousedown", handleMouseDown, false); // click and hold to pan
        canvas.addEventListener("mousemove", handleMouseMove, false);
        canvas.addEventListener("mouseup", handleMouseUp, false);
        //canvas.addEventListener("mousewheel", handleMouseWheel, false); // mousewheel duplicates dblclick function
        //canvas.addEventListener("DOMMouseScroll", handleMouseWheel, false); // for Firefox
    }
    function draw() {
        context.fillStyle = "grey";
        context.fillRect(0,0, widthCanvas,heightCanvas);

        context.drawImage(img,lastupX+deltaX,lastupY+deltaY,canvas.width,canvas.height);
    }
    
    var mouseDown = false;
    var downX = 0;
    var downY = 0;

    function handleMouseDown(event) {
        mouseDown = true;
        downX = event.clientX - this.offsetLeft - this.clientLeft + this.scrollLeft;
        downY = event.clientY - this.offsetTop - this.clientTop + this.scrollTop;

    }

    var lastupX = 0;
    var lastupY = 0;
    var deltaX = 0;
    var deltaY = 0;
    function handleMouseUp(event) {
        mouseDown = false;
        lastupX += deltaX;
        lastupY += deltaY;
        deltaX = 0;
        deltaY = 0;
    }
    function handleMouseMove(event) {

        var X = event.clientX - this.offsetLeft - this.clientLeft + this.scrollLeft;
        var Y = event.clientY - this.offsetTop - this.clientTop + this.scrollTop;

        //console.log(X,Y)
        if (mouseDown) {
            deltaX = X - downX;
            deltaY = Y - downY;
            //console.log(deltaX,deltaY);
        }
        lastX = X;
        lastY = Y;
        //console.log(xleftView,ytopView)
        draw();
    }
</script>
{% endblock %}

