{% extends "dfwbase.html" %}
{% block content %}
{% load django_bootstrap5 %}
<h4 class="bd-title p-2 bg-secondary text-light">Image View</h4>
<table class="table table-striped table-sm">
    <tbody>
    <tr><th>파일이름</th><td>{{ image.filename|default_if_none:''}}</td></tr>
    <tr><th>촬영일시</th><td>{{ image.exifdatetime|default_if_none:''}}</td></tr>
    <tr><th>폴더이름</th><td>{{ image.dirname|default_if_none:''}}</td></tr>
    <tr>
        <td colspan="2"><div class="text-center">
            <canvas id="canvas" width="900" height="600"></canvas>
        </div>
        
        </td>
    </tr>
    </tbody>    
<tfoot><tr><td colspan="2"><div class="row">
    <div class="col text-left">        
        {%if prev_image%}<a class="btn btn-info text-white btn-sm" role="button" href="{% url 'dfw_image_view' prev_image.id%}">&lt;</a>{%endif%}
        <a class="btn btn-info text-white btn-sm" role="button" href="{% url last_list obs_date%}?page={{page_number}}">목록</a>
        {%if next_image%}<a class="btn btn-info text-white btn-sm" role="button" href="{% url 'dfw_image_view' next_image.id%}">&gt;</a>{%endif%}
    </div>
    <div class="col text-end">
        <a class="btn btn-info text-white btn-sm" role="button" href="{% url 'dfw_edit_finbox' image.id %}">Fin 편집</a>
    </div>
</div></td></tr></tfoot>
</table>
<script>
    {% if image.finboxes.all %}
    box_list_data = [ 
    {%for finbox in image.finboxes.all %}
        { coords: [ {{finbox.coords_str}} ], boxname: "{{finbox.boxname}}", boxcolor: "{{finbox.boxcolor}}",formidx: {{forloop.counter0}} },
    {% endfor %} ]
    {% endif %}
    {% include "dolfinweb/dfw_finbox.js" %}
</script>
{% endblock %}

