{% extends "dfwbase.html" %}
{% block content %}
{% load django_bootstrap5 %}
<h4 class="bd-title p-2 bg-secondary text-light">Image View</h4>
<table class="table table-striped table-sm">
    <tbody>
    <tr><th>파일이름</th><td>{{ image.filename|default_if_none:''}}</td></tr>
    <tr><th>촬영일시</th><td>{{ image.exifdatetime|default_if_none:''}}</td></tr>
    <tr><th>폴더이름</th><td>{{ image.dirname|default_if_none:''}}</td></tr>
    <tr>
        <td colspan="2">
            <table class="table text-center">
            <tr><td width="900">
                <div class="text-center">
                <canvas id="canvas" width="900" height="600"></canvas>
                </div>
            </td><td width="300" class="align-top">
                <form action="" method="post">
                    {% csrf_token %}
                        {% if dolfinbox_formset %}
                            {{ dolfinbox_formset.management_form }}
                            <div id="dolfinbox-form-container" class="text-center" style="height:550px;overflow:auto;">
                                <div id="empty-form" style="display:none;font-size:14px;">
                                    <div><img src="" id="fin_image___prefix__"></div>
                                    {{dolfinbox_formset.empty_form.dolfin_image}}
                                    {{dolfinbox_formset.empty_form.boxname}}
                                    {{dolfinbox_formset.empty_form.coords_str}}
                                    <nobr>{{dolfinbox_formset.empty_form.DELETE}}삭제</nobr>
                                </div>
                                {% for dolfinbox_form in dolfinbox_formset %}
                                <div class="dolfinbox-form" style="font-size:14px;">
                                    <div><img src="{% url 'dfw_fin_image' dolfinbox_form.dolfin_image.value dolfinbox_form.id.value%}" id="fin_image_{{forloop.counter0}}"></div>
                                    <div>{{dolfinbox_form.id}}{{dolfinbox_form.dolfin_image}}
                                    {{dolfinbox_form.boxname}}
                                    {{dolfinbox_form.coords_str}}
                                    <nobr>{{dolfinbox_form.DELETE}}삭제</nobr></div>
                                </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div>No fin information yet.</div>
                        {% endif %}
                            <div class="container text-center">
                                <br/>
                                {% bootstrap_button "저장" button_type="submit" button_class="btn-info text-white" %}
                                <input class="btn btn-info text-white" type="reset" value="취소" onclick="window.location.reload();">
                            </div>
                </form>
            </td></tr>
            </table>
        </td>
    </tr>
    </tbody>    
<tfoot><tr><td colspan="2"><div class="row">
    <div class="col text-center">
        {%if prev_image%}<a class="btn btn-info text-white" role="button" id="prev" href="{% url 'dfw_edit_finbox' prev_image.id%}">&lt;</a>{%endif%}
        <a class="btn btn-info text-white" role="button" href="{% url last_list obs_date%}?page={{page_number}}">목록</a>
        {%if next_image%}<a class="btn btn-info text-white" role="button" id="next" href="{% url 'dfw_edit_finbox' next_image.id%}">&gt;</a>{%endif%}
    </div>
    <!--div class="col text-end">
        <a class="btn btn-info text-white" role="button" href="{% url 'dfw_edit_finbox' image.id %}">Fin 편집</a>
    </div-->
</div></td></tr></tfoot>

</table>
<script>
    {% if finid %}var finid = {{finid}};{%endif%}
    {% if image.finboxes.all %}
    box_list_data = [ 
    {%for finbox in image.finboxes.all %}
        { coords: [ {{finbox.coords_str}} ], boxname: "{{finbox.boxname}}", boxcolor: "{{finbox.boxcolor}}",formidx: {{forloop.counter0}}, id:{{finbox.id}}
            {% if finbox.id == finid %}selected: true{% endif %}
        },
    {% endfor %} ]
    {% endif %}
    {% include "dolfinweb/dfw_finbox.js" %}
    editable = true;


    document.onkeydown = checkKey;
    function checkKey(e) {
    
        e = e || window.event;
    
        if (e.keyCode == '38') {
            // up arrow
        }
        else if (e.keyCode == '40') {
            // down arrow
        }
        else if (e.keyCode == '37') {
            prev_a = document.getElementById('prev');
            url = prev_a.getAttribute('href');
            window.location.href = url;
            //console.log(url);
           // left arrow
        }
        else if (e.keyCode == '39') {
            next_a = document.getElementById('next');
            url = next_a.getAttribute('href');
            window.location.href = url;
            //console.log(url);
           // right arrow
        }
    }
</script>
{% endblock %}

