<nav class="navbar navbar-expand-lg navbar-dark bg-info my-3 p-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'dfw_date_list' %}">MARC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DolfinWeb
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'dfw_date_list' %}">관찰일자 목록</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            {% if user_obj %}
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user_obj.username}}</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'dfw_user_info' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'dfw_user_logout' %}">로그아웃</a></li>
            </ul>
            {% else %}
            <a class="nav-link text-white" href="{% url 'dfw_user_login' %}" id="navbarDropdown" role="button">Login</a>
            {% endif %}
          </li>
          {% if user_obj == None %}
          <li class="nav-item dropdown">
            <a class="nav-link text-white" href="{% url 'dfw_user_register' %}" id="navbarDropdown" role="button">Register</a>
          </li>
          {% endif %}
        </ul>
    </div>
    </div>
  </nav>